.body {
  background-color:grey;
  display: flex;
  flex-direction: column9;
  justify-content: center;
  align-items: center;
  height: 753.5px;
  
}

.card{
  background-color: whitesmoke;
  color: black;
  display: flex;
  padding: 10px 10px;
  flex-direction: column;
  border-radius: 2%;
}

*{
  margin: 0;
  padding: 0;
}

.pad{
  padding-left: 2%;
}

.profilePicture{
  border-radius: 50%;
  text-align: left;
  max-width: 80px;
  height: 80px;
}

.header {
  display: flex;
  max-width: auto;
  padding: 10px 10px;
}

h3{
  color: blue;
}

.text{
  padding: 10px 10px;
  text-align: left;
  max-width: auto;
  text-align: justify;
  text-justify: inter-word;
}

.photos{
  max-width: auto;
}

.footer{
  display:flex;
  justify-content: space-between;
  padding: 0px 40px;
}

button {
  margin: 10px 10px;
  width: 100px;
  height: 30px;
  border-radius: 5px;
  background-color: rgb(19, 20, 25);
  color: white;
  border-style: none;
  cursor: pointer;
  box-shadow: -3px -3px 7px rgba(255, 255, 255, 0.05),
  3px 3px 5px rgba(0, 0, 0, 0.5);
}

button:focus {
  box-shadow: -3px -3px 7px rgba(0, 0, 0, 0.5),
  3px 3px 5px rgba(255, 255, 255, 0.05);
  outline: none;
}

button:active {
  border-style: none;
}
